@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-weight: 400;
  src: local('Karma Regular'), local('Karma-Regular'), url(https://fonts.gstatic.com/s/karma/v5/BenMP8lhsBFEmEOCNvcBlaCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}